body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgb(189, 189, 207);
    font-family: 'Courier New', Courier, monospace;
    color:rgb(64, 64, 102)
}

button {
    border-radius: 5px;
    border-color: rgb(64, 64, 102);
    background-color: rgb(148, 148, 230);
}

.player-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.prompt {
    width: 500px;
    height: auto;
    text-align: center;
}

.board {
    display: grid;
    grid-template: repeat(3, minmax(100px, 1fr)) / repeat(3, minmax(100px, 1fr));
    border: solid rgb(64, 64, 102) 1px;
    grid-gap: 1px;
    background-color: rgb(64, 64, 102);
}

.spot {
    background-color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}